
body{
    text-align:left;
    background-image: linear-gradient(to bottom right, orange, yellow);
    background-attachment: fixed;
    margin: 5px;
    color: black;
}
#h2 {
    font-size: 45px;
    text-align: center;
}
#h3{
    text-align: left;
    font-size: 28px;
}
#paragraph{
    font-size: 20px;
}
#Disclaimer{
    font-size: 20px;
}
#direction{
    font-size: 20px;
}
#route_finder {
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
  }
  #uber{
    margin-left:30px;
    margin-right: 30px;
}
#amtrak{
    margin-left:200px;
    margin-right: 30px;
    width: 250px;
}
#metro{
    margin-left:200px;
    margin-right: 30px;
}
#walker{
    margin-left: 150px;
    width:200px;
    height: 135px;
}
#cycle{
    width:200px;
    height:145px;
    margin-left: 15px;
}
/* #transport-logos {
    text-align: center;
    margin: 0 auto;
    display: block 
}

#amtrak, #metro {
    display: inline-block; 
    width: 10%; 
} */
#mapsbutton{
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
    display: block;
}
#mapsbutton:hover{
    background-color:  white;
    color: black;
    text-decoration: none !important;
}